.page-404 {
  text-align: left;
  color: white;
  background-color: #050a3a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8%;
  padding-top: 80;
  padding-bottom: rem(44);

  h1 {
    font-family: $font3;
    font-size: rem(84);
    line-height: rem(106);
    font-weight: 600;
    text-align: left;
    font-size: rem(64);
  }

  p {
    font-family: $font3;
    font-size: rem(26);
    font-weight: 400;
    line-height: rem(42);
    text-align: left;
  }
}
