.site-footer {
  background-color: var(--blue);
  color: var(--white);
  padding: 0 5%;

  .footer-content {
    margin: 0;
    display: flex;
    flex-direction: column;

    .first-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .logo {
        padding-top: rem(40);
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: rem(40);

        .contact {
          margin-right: 0;
          margin-bottom: rem(20);

          .role {
            font-weight: bold;
            margin-bottom: rem(10);
          }

          p {
            margin: 0;
            line-height: 1.5;
          }

          a {
            color: var(--white);
            text-decoration: none;
          }
        }
      }
    }

    .footer-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: rem(30);
      margin-bottom: rem(30);

      .footer-left {
        p {
          margin: 0;
        }
      }

      .footer-right {
        display: flex;
        margin-top: rem(20);

        .social-link {
          margin-left: 0;
          margin-right: rem(10);

          img {
            width: rem(20);
            height: rem(20);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .site-footer {
    padding: 0 8%;

    .footer-content {
      .first-part {
        flex-direction: row;
        align-items: flex-start;

        .logo {
          padding-top: rem(70);
        }

        .contact-info {
          flex-direction: row;
          justify-content: flex-end;
          padding-top: rem(70);

          .contact {
            margin-right: rem(50);

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(50);
        margin-bottom: rem(50);

        .footer-right {
          margin-top: 0;

          .social-link {
            margin-left: rem(10);
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .site-footer {
    padding: 0 8%;

    .footer-content {
      .first-part {
        .logo {
          padding-top: rem(90);
        }

        .contact-info {
          padding-top: rem(90);

          .contact {
            margin-right: rem(100);

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .footer-bottom {
        margin-top: rem(70);
        margin-bottom: rem(80);
      }
    }
  }
}
