$color-primary: #050a3a;
$color-white: #ffffff;
$color-highlight: #ff007f;

.site-header {
  background-color: $color-primary;
  padding: rem(20) 5% rem(20) 5%;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    img {
      width: rem(100);
      height: auto;
    }
  }

  .burger-menu {
    cursor: pointer;
    display: block;
  }

  .nav-menu {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    
    &.open {
      display: flex;
    }

    .nav-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .logo {
        display: flex;
        flex-direction: column;

        img {
          width: rem(100);
          height: auto;
        }

        p {
          color: $color-white;
          margin: 0;
          font-size: rem(14);
        }
      }

      .close-menu {
        cursor: pointer;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: end;
      list-style: none;
      padding: 0;
      margin-top: rem(20);
      margin-bottom: rem(20);

      .nav-item {
        margin-bottom: rem(15);

        a {
          color: $color-white;
          font-family: $font3;
          font-size: rem(24);
          font-weight: 600;
          line-height: rem(32);
          text-align: left;
          position: relative;
          text-decoration: none;
        }

        &.current-menu-item {
          a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: rem(-5);
            height: rem(2);
            width: 100%;
            background-color: $color-highlight;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .site-header {
    padding: rem(40) 8% rem(40) 8%;

    .header-content {
      .logo {
        img {
          width: rem(120);
        }
      }

      .burger-menu {
        cursor: pointer;
        display: block;
      }

      .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .nav-header {
          display: none;
        }

        .nav-links {
          flex-direction: row;
          margin-top: 0;
          margin-bottom: 0;

          .nav-item {
            margin: 0 rem(20);

            a {
              font-size: rem(18);
              line-height: rem(24);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .site-header {
    padding: rem(48) 8% rem(45) 8%;

    .header-content {
      .logo {
        img {
          width: rem(133);
        }
      }

      .nav-menu {
        .nav-links {
          .nav-item {
            a {
              font-size: rem(20);
              line-height: rem(26);
            }
          }
        }
      }
    }
  }
}
